@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

.btn{
    padding: 9px 18px;
    color: #fff;

font-family: "Work Sans",sans-serif;
font-size: 15px;
font-weight: 600;
line-height: 17px;
letter-spacing: 0%;
text-align: center;

border-radius: 8px;
background: rgba(82, 195, 3, 1);
border: none; 
display: block;
margin: 0 auto;
margin-top: 10px;
cursor: pointer;
}

 #win{

    background: linear-gradient(0.00deg, rgba(9.2, 8.93, 8.93, 1) 3.482%,rgba(16, 16, 16, 0) 101.632%), url("../assets/hero-bg.png");


    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
} 
#win .content{
    width: 1000px;
    
}
#win .content .subtitle{
    opacity: 0.8;
    
    color: rgb(253, 251, 251);

font-family: Work Sans;
font-style: SemiBold;
font-size: 17px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 6px;
}
#win .content .title {
  width: 970px;
  height: 160px;

  color: rgb(250, 253, 252);

  font-family: "Work Sans", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 6px;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#win .content .dis{
    width: 1023px;
height: 56px;


    opacity: 0.7;
    color: #ffffff;

font-family: Work Sans;
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);



}
#card-box{
    width: 900px;
    margin: 135px auto;
}


#card-box .title {
  color: rgba(16, 16, 16, 1);

  font-family: "Work Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0;
  text-align: center;
}

#card-box .subtitle {
  color: rgba(16, 16, 16, 1);

  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  opacity: 0.6;
}

.card-container{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  font-family: "Work Sans",sans-serif;
  text-align: center;

}

.card{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.card .image-box{
    width: 250px;
}
.card .image-box img{
    width: 100%;
}
.card .shop{
    padding: 8px 16px 8px 16px;
 border-radius: 8px;
background: rgba(83, 195, 3, 0.363);
}



#six{
    width: 250px;
    margin: 300px auto;
    

}

/* ------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Section */
.food-section {
    margin: 20%;
    padding: 80px 0;
    background: oklch(99.557% 0.0021 14.222);
}

/* Main container */
.container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    background: #c2bcbc;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* Image side */
.image-box {
    width: 50%;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Content side */
.content-box {
    width: 50%;
    padding: 60px 40px;
    text-align: center;
}

.content-box h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #111;
}

.content-box p {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
}

/* ------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-banner {
    background: url("../assets/foods.png") center/cover no-repeat;
    height: 350px;
    position: relative;
    margin: 250px auto;
}

.footer-banner .overlay {
    background: rgba(255, 255, 255, 0.85);
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 80px 20px;
}

.footer-banner h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #000;
}

.footer-banner p {
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
}

.footer-banner h4 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #000;
}

.social-icons a {
    display: inline-block;
    margin: 0 8px;
    color: #000;
    font-size: 18px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #e63946;
}




